.sidebar-close {
  left: -290px;
  transition: left 0.5s ease;
}

.sidebar-open {
  left: 0;
  transition: left 0.5s ease;
}

.sidebar {
  z-index: 1;
}

.body {
  width: 100%;
  z-index: 0;
}

.add-task-popup {
  z-index: 2;
  display: none;
  box-shadow: 2px 2px 30px rgba(117, 116, 116, 0.452);
  border: 1px solid rgba(128, 128, 128, 0.478);
}

.add-task-popup-open {
  display: block;
  transition: all 0.3s ease;
}

.body-padding {
  padding-left: 275px;
  transition: all 0.5s ease;
}

.priority-popup-close,
.date-popup-close,
.profile-popup-close {
  display: none;
}

.priority-popup-open,
.date-popup-open,
.profile-popup-open {
  display: block;
}

@media (max-width: 800px) {
  .body-svg {
    display: none;
  }
}
