.sidebar-close {
  left: -290px;
  transition: left 0.5s ease;
}

.sidebar-open {
  left: 0;
  transition: left 0.5s ease;
}

.sidebar {
  z-index: 1;
}

.body {
  width: 100%;
  z-index: 0;
}

.add-task-popup{
  z-index: 2;
  display: none;
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.452);
}

.add-task-popup-open{
  display: block;
  transition: all .3s ease;
}

.body-padding{
  padding-left: 275px;
  transition: all 0.5s ease;
}

@media (max-width: 800px){
  .body-svg{
    display: none;
  }
}