* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.apis {
  width: 70%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.g-btn,
.fb-login-button {
  width: 100%;
}

.email-input {
  width: 85%;
}

.wrapper {
  z-index: 2;
  width: 350px;
  height: 65vh;
  min-height: 430px;
}

.content {
  width: 70%;
}
